<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>INFORMATION ABOUT VACCINES</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<th:block th:include="navigation"></th:block>
<div class="header">
    <h1>WELCOME TO PAGE INFORMATION</h1>
    <p>Patient informations page</p>
</div>
<div class="container">
    <form th:action="@{/information/create}" method="post" th:object="${inform}" id="form">
        <input type="text" id="infoId" style="display: none;" th:field="*{id}">

        <div>
            <h2>VACCINATION INFORMATION</h2>
            <label for="IdNumber">Patient ID Number:</label>
            <input type="text" id="IdNumber" th:field="*{idNumber}" required/>

            <label for="patientName">Patient Name:</label>
            <input type="text" id="patientName" th:field="*{patientName}" required/>
            <label for="email">Patient Email:</label>
            <input type="email" id="email" th:field="*{email}" required/>

            <label for="eGender">Gender:</label>
            <select name="eGender" id="eGender" th:field="*{gender}">
                <option th:value="*{gender}">select gender</option>
                <option th:value="${T(com.vac_mis.model.enums.EGender).MALE}">MALE</option>
                <option th:value="${T(com.vac_mis.model.enums.EGender).FEMALE}">FEMALE</option>
            </select>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" th:field="*{dob}" required/>
            <label for="vaccine">Select Vaccine:</label>
            <select name="vaccine" id="vaccine" th:field="*{vaccine.id}">
                <option value="">select vaccine</option>
                <option th:each="vaccine : ${vacList}" th:value="${vaccine.id}" th:text="${vaccine.name}">[[${vaccine.name}]]</option>
            </select>

            <label for="nurse">Select Nurse:</label>
            <select name="nurse" id="nurse"  th:field="*{nurse.name}">
                <option value="">select nurse</option>
                <option th:each="nurse : ${nurseList}" th:value="${nurse.id}" th:text="${nurse.name}">[[${nurse.name}]]</option>
            </select>
        </div>
      <input type="submit" id="formBtn" value="Submit"/>
    </form>

    <!-- Add your content here -->
    <div class="tabular--wrapper">
        <h3 class="main-title">PATIENTS DATA</h3>
        <div class="table-container">
            <table>
                <tr>
                    <th style="display: none;"></th>
                    <th style="display: none;"></th>
                    <th>NAMES</th>
                    <th>EMAIL</th>
                    <th>GENDER</th>
                    <th>DOB</th>
                    <th>VACCINE</th>
                    <th>NURSE</th>
                    <th>ACTIONS</th>
                </tr>
                <tbody>
                <tr th:each="in: ${informationList}">
                    <td th:text="${in.id}" style="display: none;"></td>
                    <td th:text="${in.idNumber}" style="display: none;" ></td>
                    <td th:text="${in.patientName}"></td>
                    <td th:text="${in.email}"></td>
                    <td th:text="${in.gender}"></td>
                    <td th:text="${in.dob}"></td>
                    <td th:text="${in.vaccine.getName()}"></td>
                    <td th:text="${in.nurse.getName()}"></td>
                    <td>
                        <div class="cell" data-title="Action">
                            <a class="update-btn">Edit</a>
                            <a class="delete-btn">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7" style="color: white">Total: <span th:text="${informationList.size()}"></span>
                        Patients
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
</html>
<script defer>
    const form = document.getElementById("form");
    const infoId=document.getElementById("infoId");
    const IdNumber = document.getElementById("IdNumber");
    const patientName = document.getElementById("patientName");
    const email=document.getElementById("email");
    const eGender = document.getElementById("eGender");
    const dob = document.getElementById("dob");
    const vaccine = document.getElementById("vaccine");
    const nurse = document.getElementById("nurse");

    const updateBtn = document.querySelectorAll(".update-btn");
    const deleteBtn = document.querySelectorAll(".delete-btn");
    const formBtn = document.getElementById("formBtn");

    updateBtn.forEach(button => {
        button.addEventListener('click', () => {

            const tr = button.closest("tr");
            const fields = tr.getElementsByTagName("td");

            infoId.value=fields[0].textContent;
            IdNumber.value = fields[1].textContent;
            patientName.value = fields[2].textContent;
            email.value=fields[3].textContent;
            eGender.value = fields[4].textContent;
            dob.value = fields[5].textContent;
            vaccine.value = fields[6].textContent;
            nurse.value = fields[7].textContent;

            formBtn.value = "Update";
            formBtn.style.backgroundColor = "skyBlue";

        })
    });

    deleteBtn.forEach(button => {
        button.addEventListener('click', () => {

            const tr = button.closest("tr");
            const fields = tr.getElementsByTagName("td");

            infoId.value=fields[0].textContent;
            IdNumber.value = fields[1].textContent;
            patientName.value = fields[2].textContent;
            email.value=fields[3].textContent;
            eGender.value = fields[4].textContent;
            dob.value = fields[5].textContent;
            vaccine.value = fields[6].textContent;
            nurse.value = fields[7].textContent;

            formBtn.value = "Delete";
            formBtn.style.backgroundColor = "Red";

        })
    });
    form.addEventListener("submit", e => {
        e.preventDefault();
        form.action = "/information/create?action=" + formBtn.value;
        form.submit();
    })
</script>