<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="navigation">
      <nav>
        <div class="home">
          <a href="#home">Home</a>
        </div>
        <a href="#">Logout</a>
        <a href="#patients">Patients</a>
        <a th:href="@{/vaccine}">Vaccines</a>
      </nav>
    </div>
  </body>
</html>
